0 agent_move_livingroom 1001
0 agent_move_outside 4
0 agent_move_sofa 4
0 agent_pick_keys 2
1 agent_move_livingroom 1001
1 agent_move_outside 2
1 agent_move_sofa 4
1 agent_pick_keys 3
2 agent_move_livingroom 1001
2 agent_move_outside 6
2 agent_move_sofa 4
2 agent_pick_keys 5
3 agent_move_livingroom 1001
3 agent_move_outside 1
3 agent_move_sofa 3
3 agent_pick_keys 1001
4 agent_move_livingroom 3
4 agent_move_outside 1001
4 agent_move_sofa 1001
4 agent_pick_keys 4
5 agent_move_livingroom 3
5 agent_move_outside 1001
5 agent_move_sofa 1001
5 agent_pick_keys 1
6 agent_move_livingroom 5
6 agent_move_outside 1001
6 agent_move_sofa 1001
6 agent_pick_keys 6
8 agent_move_livingroom 3
8 agent_move_outside 1001
8 agent_move_sofa 1001
8 agent_pick_keys 4
9 agent_move_livingroom 3
9 agent_move_outside 1001
9 agent_move_sofa 1001
9 agent_pick_keys 4
10 agent_move_livingroom 5
10 agent_move_outside 1001
10 agent_move_sofa 1001
10 agent_pick_keys 3
11 agent_move_livingroom 2
11 agent_move_outside 1001
11 agent_move_sofa 1001
11 agent_pick_keys 1001
