0 agent_move_livingroom 1001
0 agent_move_outside 4
0 agent_move_sofa 4
0 agent_pick_book1 2
0 agent_pick_book2 2
0 agent_pick_book3 2
1 agent_move_livingroom 1001
1 agent_move_outside 4
1 agent_move_sofa 4
1 agent_pick_book1 2
1 agent_pick_book2 2
1 agent_pick_book3 3
2 agent_move_livingroom 1001
2 agent_move_outside 4
2 agent_move_sofa 2
2 agent_pick_book1 2
2 agent_pick_book2 2
2 agent_pick_book3 3
3 agent_move_livingroom 1001
3 agent_move_outside 3
3 agent_move_sofa 1
3 agent_pick_book1 1001
3 agent_pick_book2 1001
3 agent_pick_book3 1001
4 agent_move_livingroom 1001
4 agent_move_outside 4
4 agent_move_sofa 4
4 agent_pick_book1 2
4 agent_pick_book2 3
4 agent_pick_book3 2
5 agent_move_livingroom 1001
5 agent_move_outside 4
5 agent_move_sofa 4
5 agent_pick_book1 2
5 agent_pick_book2 3
5 agent_pick_book3 3
6 agent_move_livingroom 1001
6 agent_move_outside 4
6 agent_move_sofa 2
6 agent_pick_book1 2
6 agent_pick_book2 3
6 agent_pick_book3 3
7 agent_move_livingroom 1001
7 agent_move_outside 3
7 agent_move_sofa 1
7 agent_pick_book1 1001
7 agent_pick_book2 1001
7 agent_pick_book3 1001
8 agent_move_livingroom 1001
8 agent_move_outside 4
8 agent_move_sofa 2
8 agent_pick_book1 2
8 agent_pick_book2 3
8 agent_pick_book3 2
9 agent_move_livingroom 1001
9 agent_move_outside 4
9 agent_move_sofa 2
9 agent_pick_book1 2
9 agent_pick_book2 3
9 agent_pick_book3 3
10 agent_move_livingroom 1001
10 agent_move_outside 4
10 agent_move_sofa 2
10 agent_pick_book1 2
10 agent_pick_book2 3
10 agent_pick_book3 3
11 agent_move_livingroom 1001
11 agent_move_outside 3
11 agent_move_sofa 1
11 agent_pick_book1 1001
11 agent_pick_book2 1001
11 agent_pick_book3 1001
12 agent_move_livingroom 1001
12 agent_move_outside 3
12 agent_move_sofa 1
12 agent_pick_book1 1001
12 agent_pick_book2 1001
12 agent_pick_book3 1001
13 agent_move_livingroom 1001
13 agent_move_outside 3
13 agent_move_sofa 1
13 agent_pick_book1 1001
13 agent_pick_book2 1001
13 agent_pick_book3 1001
14 agent_move_livingroom 1001
14 agent_move_outside 3
14 agent_move_sofa 1
14 agent_pick_book1 1001
14 agent_pick_book2 1001
14 agent_pick_book3 1001
15 agent_move_livingroom 1001
15 agent_move_outside 3
15 agent_move_sofa 1
15 agent_pick_book1 1001
15 agent_pick_book2 1001
15 agent_pick_book3 1001
16 agent_move_livingroom 1001
16 agent_move_outside 4
16 agent_move_sofa 4
16 agent_pick_book1 3
16 agent_pick_book2 2
16 agent_pick_book3 2
17 agent_move_livingroom 1001
17 agent_move_outside 4
17 agent_move_sofa 4
17 agent_pick_book1 3
17 agent_pick_book2 2
17 agent_pick_book3 3
18 agent_move_livingroom 1001
18 agent_move_outside 4
18 agent_move_sofa 2
18 agent_pick_book1 3
18 agent_pick_book2 2
18 agent_pick_book3 3
19 agent_move_livingroom 1001
19 agent_move_outside 3
19 agent_move_sofa 1
19 agent_pick_book1 1001
19 agent_pick_book2 1001
19 agent_pick_book3 1001
20 agent_move_livingroom 1001
20 agent_move_outside 4
20 agent_move_sofa 4
20 agent_pick_book1 3
20 agent_pick_book2 3
20 agent_pick_book3 2
21 agent_move_livingroom 1001
21 agent_move_outside 4
21 agent_move_sofa 6
21 agent_pick_book1 5
21 agent_pick_book2 5
21 agent_pick_book3 5
22 agent_move_livingroom 1001
22 agent_move_outside 4
22 agent_move_sofa 2
22 agent_pick_book1 3
22 agent_pick_book2 3
22 agent_pick_book3 3
23 agent_move_livingroom 1001
23 agent_move_outside 3
23 agent_move_sofa 1
23 agent_pick_book1 1001
23 agent_pick_book2 1001
23 agent_pick_book3 1001
24 agent_move_livingroom 1001
24 agent_move_outside 4
24 agent_move_sofa 2
24 agent_pick_book1 3
24 agent_pick_book2 3
24 agent_pick_book3 2
25 agent_move_livingroom 1001
25 agent_move_outside 4
25 agent_move_sofa 2
25 agent_pick_book1 3
25 agent_pick_book2 3
25 agent_pick_book3 3
26 agent_move_livingroom 1001
26 agent_move_outside 4
26 agent_move_sofa 2
26 agent_pick_book1 3
26 agent_pick_book2 3
26 agent_pick_book3 3
27 agent_move_livingroom 1001
27 agent_move_outside 3
27 agent_move_sofa 1
27 agent_pick_book1 1001
27 agent_pick_book2 1001
27 agent_pick_book3 1001
28 agent_move_livingroom 1001
28 agent_move_outside 3
28 agent_move_sofa 1
28 agent_pick_book1 1001
28 agent_pick_book2 1001
28 agent_pick_book3 1001
29 agent_move_livingroom 1001
29 agent_move_outside 3
29 agent_move_sofa 1
29 agent_pick_book1 1001
29 agent_pick_book2 1001
29 agent_pick_book3 1001
30 agent_move_livingroom 1001
30 agent_move_outside 3
30 agent_move_sofa 1
30 agent_pick_book1 1001
30 agent_pick_book2 1001
30 agent_pick_book3 1001
31 agent_move_livingroom 1001
31 agent_move_outside 3
31 agent_move_sofa 1
31 agent_pick_book1 1001
31 agent_pick_book2 1001
31 agent_pick_book3 1001
32 agent_move_livingroom 1001
32 agent_move_outside 4
32 agent_move_sofa 2
32 agent_pick_book1 3
32 agent_pick_book2 2
32 agent_pick_book3 2
33 agent_move_livingroom 1001
33 agent_move_outside 4
33 agent_move_sofa 2
33 agent_pick_book1 3
33 agent_pick_book2 2
33 agent_pick_book3 3
34 agent_move_livingroom 1001
34 agent_move_outside 4
34 agent_move_sofa 2
34 agent_pick_book1 3
34 agent_pick_book2 2
34 agent_pick_book3 3
35 agent_move_livingroom 1001
35 agent_move_outside 3
35 agent_move_sofa 1
35 agent_pick_book1 1001
35 agent_pick_book2 1001
35 agent_pick_book3 1001
36 agent_move_livingroom 1001
36 agent_move_outside 4
36 agent_move_sofa 2
36 agent_pick_book1 3
36 agent_pick_book2 3
36 agent_pick_book3 2
37 agent_move_livingroom 1001
37 agent_move_outside 4
37 agent_move_sofa 2
37 agent_pick_book1 3
37 agent_pick_book2 3
37 agent_pick_book3 3
38 agent_move_livingroom 1001
38 agent_move_outside 4
38 agent_move_sofa 2
38 agent_pick_book1 3
38 agent_pick_book2 3
38 agent_pick_book3 3
39 agent_move_livingroom 1001
39 agent_move_outside 3
39 agent_move_sofa 1
39 agent_pick_book1 1001
39 agent_pick_book2 1001
39 agent_pick_book3 1001
40 agent_move_livingroom 1001
40 agent_move_outside 4
40 agent_move_sofa 2
40 agent_pick_book1 3
40 agent_pick_book2 3
40 agent_pick_book3 2
41 agent_move_livingroom 1001
41 agent_move_outside 4
41 agent_move_sofa 2
41 agent_pick_book1 3
41 agent_pick_book2 3
41 agent_pick_book3 3
42 agent_move_livingroom 1001
42 agent_move_outside 4
42 agent_move_sofa 2
42 agent_pick_book1 3
42 agent_pick_book2 3
42 agent_pick_book3 3
43 agent_move_livingroom 1001
43 agent_move_outside 3
43 agent_move_sofa 1
43 agent_pick_book1 1001
43 agent_pick_book2 1001
43 agent_pick_book3 1001
44 agent_move_livingroom 1001
44 agent_move_outside 3
44 agent_move_sofa 1
44 agent_pick_book1 1001
44 agent_pick_book2 1001
44 agent_pick_book3 1001
45 agent_move_livingroom 1001
45 agent_move_outside 3
45 agent_move_sofa 1
45 agent_pick_book1 1001
45 agent_pick_book2 1001
45 agent_pick_book3 1001
46 agent_move_livingroom 1001
46 agent_move_outside 3
46 agent_move_sofa 1
46 agent_pick_book1 1001
46 agent_pick_book2 1001
46 agent_pick_book3 1001
47 agent_move_livingroom 1001
47 agent_move_outside 3
47 agent_move_sofa 1
47 agent_pick_book1 1001
47 agent_pick_book2 1001
47 agent_pick_book3 1001
48 agent_move_livingroom 1001
48 agent_move_outside 3
48 agent_move_sofa 1
48 agent_pick_book1 1001
48 agent_pick_book2 1001
48 agent_pick_book3 1001
49 agent_move_livingroom 1001
49 agent_move_outside 3
49 agent_move_sofa 1
49 agent_pick_book1 1001
49 agent_pick_book2 1001
49 agent_pick_book3 1001
50 agent_move_livingroom 1001
50 agent_move_outside 3
50 agent_move_sofa 1
50 agent_pick_book1 1001
50 agent_pick_book2 1001
50 agent_pick_book3 1001
51 agent_move_livingroom 1001
51 agent_move_outside 3
51 agent_move_sofa 1
51 agent_pick_book1 1001
51 agent_pick_book2 1001
51 agent_pick_book3 1001
52 agent_move_livingroom 1001
52 agent_move_outside 3
52 agent_move_sofa 1
52 agent_pick_book1 1001
52 agent_pick_book2 1001
52 agent_pick_book3 1001
53 agent_move_livingroom 1001
53 agent_move_outside 3
53 agent_move_sofa 1
53 agent_pick_book1 1001
53 agent_pick_book2 1001
53 agent_pick_book3 1001
54 agent_move_livingroom 1001
54 agent_move_outside 3
54 agent_move_sofa 1
54 agent_pick_book1 1001
54 agent_pick_book2 1001
54 agent_pick_book3 1001
55 agent_move_livingroom 1001
55 agent_move_outside 3
55 agent_move_sofa 1
55 agent_pick_book1 1001
55 agent_pick_book2 1001
55 agent_pick_book3 1001
56 agent_move_livingroom 1001
56 agent_move_outside 3
56 agent_move_sofa 1
56 agent_pick_book1 1001
56 agent_pick_book2 1001
56 agent_pick_book3 1001
57 agent_move_livingroom 1001
57 agent_move_outside 3
57 agent_move_sofa 1
57 agent_pick_book1 1001
57 agent_pick_book2 1001
57 agent_pick_book3 1001
58 agent_move_livingroom 1001
58 agent_move_outside 3
58 agent_move_sofa 1
58 agent_pick_book1 1001
58 agent_pick_book2 1001
58 agent_pick_book3 1001
59 agent_move_livingroom 1001
59 agent_move_outside 3
59 agent_move_sofa 1
59 agent_pick_book1 1001
59 agent_pick_book2 1001
59 agent_pick_book3 1001
60 agent_move_livingroom 1001
60 agent_move_outside 3
60 agent_move_sofa 1
60 agent_pick_book1 1001
60 agent_pick_book2 1001
60 agent_pick_book3 1001
61 agent_move_livingroom 1001
61 agent_move_outside 3
61 agent_move_sofa 1
61 agent_pick_book1 1001
61 agent_pick_book2 1001
61 agent_pick_book3 1001
62 agent_move_livingroom 1001
62 agent_move_outside 3
62 agent_move_sofa 1
62 agent_pick_book1 1001
62 agent_pick_book2 1001
62 agent_pick_book3 1001
63 agent_move_livingroom 1001
63 agent_move_outside 3
63 agent_move_sofa 1
63 agent_pick_book1 1001
63 agent_pick_book2 1001
63 agent_pick_book3 1001
64 agent_move_livingroom 3
64 agent_move_outside 1001
64 agent_move_sofa 1001
64 agent_pick_book1 4
64 agent_pick_book2 4
64 agent_pick_book3 4
65 agent_move_livingroom 3
65 agent_move_outside 1001
65 agent_move_sofa 1001
65 agent_pick_book1 4
65 agent_pick_book2 4
65 agent_pick_book3 3
66 agent_move_livingroom 3
66 agent_move_outside 1001
66 agent_move_sofa 1001
66 agent_pick_book1 4
66 agent_pick_book2 4
66 agent_pick_book3 4
67 agent_move_livingroom 2
67 agent_move_outside 1001
67 agent_move_sofa 1001
67 agent_pick_book1 1001
67 agent_pick_book2 1001
67 agent_pick_book3 1001
68 agent_move_livingroom 3
68 agent_move_outside 1001
68 agent_move_sofa 1001
68 agent_pick_book1 4
68 agent_pick_book2 3
68 agent_pick_book3 4
69 agent_move_livingroom 3
69 agent_move_outside 1001
69 agent_move_sofa 1001
69 agent_pick_book1 4
69 agent_pick_book2 3
69 agent_pick_book3 3
70 agent_move_livingroom 3
70 agent_move_outside 1001
70 agent_move_sofa 1001
70 agent_pick_book1 4
70 agent_pick_book2 3
70 agent_pick_book3 4
71 agent_move_livingroom 2
71 agent_move_outside 1001
71 agent_move_sofa 1001
71 agent_pick_book1 1001
71 agent_pick_book2 1001
71 agent_pick_book3 1001
72 agent_move_livingroom 3
72 agent_move_outside 1001
72 agent_move_sofa 1001
72 agent_pick_book1 4
72 agent_pick_book2 4
72 agent_pick_book3 4
73 agent_move_livingroom 3
73 agent_move_outside 1001
73 agent_move_sofa 1001
73 agent_pick_book1 4
73 agent_pick_book2 4
73 agent_pick_book3 3
74 agent_move_livingroom 3
74 agent_move_outside 1001
74 agent_move_sofa 1001
74 agent_pick_book1 4
74 agent_pick_book2 4
74 agent_pick_book3 4
75 agent_move_livingroom 2
75 agent_move_outside 1001
75 agent_move_sofa 1001
75 agent_pick_book1 1001
75 agent_pick_book2 1001
75 agent_pick_book3 1001
76 agent_move_livingroom 2
76 agent_move_outside 1001
76 agent_move_sofa 1001
76 agent_pick_book1 1001
76 agent_pick_book2 1001
76 agent_pick_book3 1001
77 agent_move_livingroom 2
77 agent_move_outside 1001
77 agent_move_sofa 1001
77 agent_pick_book1 1001
77 agent_pick_book2 1001
77 agent_pick_book3 1001
78 agent_move_livingroom 2
78 agent_move_outside 1001
78 agent_move_sofa 1001
78 agent_pick_book1 1001
78 agent_pick_book2 1001
78 agent_pick_book3 1001
79 agent_move_livingroom 2
79 agent_move_outside 1001
79 agent_move_sofa 1001
79 agent_pick_book1 1001
79 agent_pick_book2 1001
79 agent_pick_book3 1001
80 agent_move_livingroom 3
80 agent_move_outside 1001
80 agent_move_sofa 1001
80 agent_pick_book1 3
80 agent_pick_book2 4
80 agent_pick_book3 4
81 agent_move_livingroom 3
81 agent_move_outside 1001
81 agent_move_sofa 1001
81 agent_pick_book1 3
81 agent_pick_book2 4
81 agent_pick_book3 3
82 agent_move_livingroom 3
82 agent_move_outside 1001
82 agent_move_sofa 1001
82 agent_pick_book1 3
82 agent_pick_book2 4
82 agent_pick_book3 4
83 agent_move_livingroom 2
83 agent_move_outside 1001
83 agent_move_sofa 1001
83 agent_pick_book1 1001
83 agent_pick_book2 1001
83 agent_pick_book3 1001
84 agent_move_livingroom 3
84 agent_move_outside 1001
84 agent_move_sofa 1001
84 agent_pick_book1 3
84 agent_pick_book2 3
84 agent_pick_book3 4
85 agent_move_livingroom 5
85 agent_move_outside 1001
85 agent_move_sofa 1001
85 agent_pick_book1 3
85 agent_pick_book2 3
85 agent_pick_book3 3
86 agent_move_livingroom 3
86 agent_move_outside 1001
86 agent_move_sofa 1001
86 agent_pick_book1 3
86 agent_pick_book2 3
86 agent_pick_book3 4
87 agent_move_livingroom 2
87 agent_move_outside 1001
87 agent_move_sofa 1001
87 agent_pick_book1 1001
87 agent_pick_book2 1001
87 agent_pick_book3 1001
88 agent_move_livingroom 3
88 agent_move_outside 1001
88 agent_move_sofa 1001
88 agent_pick_book1 3
88 agent_pick_book2 4
88 agent_pick_book3 4
89 agent_move_livingroom 3
89 agent_move_outside 1001
89 agent_move_sofa 1001
89 agent_pick_book1 3
89 agent_pick_book2 4
89 agent_pick_book3 3
90 agent_move_livingroom 3
90 agent_move_outside 1001
90 agent_move_sofa 1001
90 agent_pick_book1 3
90 agent_pick_book2 4
90 agent_pick_book3 4
91 agent_move_livingroom 2
91 agent_move_outside 1001
91 agent_move_sofa 1001
91 agent_pick_book1 1001
91 agent_pick_book2 1001
91 agent_pick_book3 1001
92 agent_move_livingroom 2
92 agent_move_outside 1001
92 agent_move_sofa 1001
92 agent_pick_book1 1001
92 agent_pick_book2 1001
92 agent_pick_book3 1001
93 agent_move_livingroom 2
93 agent_move_outside 1001
93 agent_move_sofa 1001
93 agent_pick_book1 1001
93 agent_pick_book2 1001
93 agent_pick_book3 1001
94 agent_move_livingroom 2
94 agent_move_outside 1001
94 agent_move_sofa 1001
94 agent_pick_book1 1001
94 agent_pick_book2 1001
94 agent_pick_book3 1001
95 agent_move_livingroom 2
95 agent_move_outside 1001
95 agent_move_sofa 1001
95 agent_pick_book1 1001
95 agent_pick_book2 1001
95 agent_pick_book3 1001
96 agent_move_livingroom 3
96 agent_move_outside 1001
96 agent_move_sofa 1001
96 agent_pick_book1 4
96 agent_pick_book2 4
96 agent_pick_book3 4
97 agent_move_livingroom 3
97 agent_move_outside 1001
97 agent_move_sofa 1001
97 agent_pick_book1 4
97 agent_pick_book2 4
97 agent_pick_book3 3
98 agent_move_livingroom 3
98 agent_move_outside 1001
98 agent_move_sofa 1001
98 agent_pick_book1 4
98 agent_pick_book2 4
98 agent_pick_book3 4
99 agent_move_livingroom 2
99 agent_move_outside 1001
99 agent_move_sofa 1001
99 agent_pick_book1 1001
99 agent_pick_book2 1001
99 agent_pick_book3 1001
100 agent_move_livingroom 3
100 agent_move_outside 1001
100 agent_move_sofa 1001
100 agent_pick_book1 4
100 agent_pick_book2 3
100 agent_pick_book3 4
101 agent_move_livingroom 3
101 agent_move_outside 1001
101 agent_move_sofa 1001
101 agent_pick_book1 4
101 agent_pick_book2 3
101 agent_pick_book3 3
102 agent_move_livingroom 3
102 agent_move_outside 1001
102 agent_move_sofa 1001
102 agent_pick_book1 4
102 agent_pick_book2 3
102 agent_pick_book3 4
103 agent_move_livingroom 2
103 agent_move_outside 1001
103 agent_move_sofa 1001
103 agent_pick_book1 1001
103 agent_pick_book2 1001
103 agent_pick_book3 1001
104 agent_move_livingroom 3
104 agent_move_outside 1001
104 agent_move_sofa 1001
104 agent_pick_book1 4
104 agent_pick_book2 4
104 agent_pick_book3 4
105 agent_move_livingroom 3
105 agent_move_outside 1001
105 agent_move_sofa 1001
105 agent_pick_book1 4
105 agent_pick_book2 4
105 agent_pick_book3 3
106 agent_move_livingroom 3
106 agent_move_outside 1001
106 agent_move_sofa 1001
106 agent_pick_book1 4
106 agent_pick_book2 4
106 agent_pick_book3 4
107 agent_move_livingroom 2
107 agent_move_outside 1001
107 agent_move_sofa 1001
107 agent_pick_book1 1001
107 agent_pick_book2 1001
107 agent_pick_book3 1001
108 agent_move_livingroom 2
108 agent_move_outside 1001
108 agent_move_sofa 1001
108 agent_pick_book1 1001
108 agent_pick_book2 1001
108 agent_pick_book3 1001
109 agent_move_livingroom 2
109 agent_move_outside 1001
109 agent_move_sofa 1001
109 agent_pick_book1 1001
109 agent_pick_book2 1001
109 agent_pick_book3 1001
110 agent_move_livingroom 2
110 agent_move_outside 1001
110 agent_move_sofa 1001
110 agent_pick_book1 1001
110 agent_pick_book2 1001
110 agent_pick_book3 1001
111 agent_move_livingroom 2
111 agent_move_outside 1001
111 agent_move_sofa 1001
111 agent_pick_book1 1001
111 agent_pick_book2 1001
111 agent_pick_book3 1001
112 agent_move_livingroom 2
112 agent_move_outside 1001
112 agent_move_sofa 1001
112 agent_pick_book1 1001
112 agent_pick_book2 1001
112 agent_pick_book3 1001
113 agent_move_livingroom 2
113 agent_move_outside 1001
113 agent_move_sofa 1001
113 agent_pick_book1 1001
113 agent_pick_book2 1001
113 agent_pick_book3 1001
114 agent_move_livingroom 2
114 agent_move_outside 1001
114 agent_move_sofa 1001
114 agent_pick_book1 1001
114 agent_pick_book2 1001
114 agent_pick_book3 1001
115 agent_move_livingroom 2
115 agent_move_outside 1001
115 agent_move_sofa 1001
115 agent_pick_book1 1001
115 agent_pick_book2 1001
115 agent_pick_book3 1001
116 agent_move_livingroom 2
116 agent_move_outside 1001
116 agent_move_sofa 1001
116 agent_pick_book1 1001
116 agent_pick_book2 1001
116 agent_pick_book3 1001
117 agent_move_livingroom 2
117 agent_move_outside 1001
117 agent_move_sofa 1001
117 agent_pick_book1 1001
117 agent_pick_book2 1001
117 agent_pick_book3 1001
118 agent_move_livingroom 2
118 agent_move_outside 1001
118 agent_move_sofa 1001
118 agent_pick_book1 1001
118 agent_pick_book2 1001
118 agent_pick_book3 1001
119 agent_move_livingroom 2
119 agent_move_outside 1001
119 agent_move_sofa 1001
119 agent_pick_book1 1001
119 agent_pick_book2 1001
119 agent_pick_book3 1001
120 agent_move_livingroom 2
120 agent_move_outside 1001
120 agent_move_sofa 1001
120 agent_pick_book1 1001
120 agent_pick_book2 1001
120 agent_pick_book3 1001
121 agent_move_livingroom 2
121 agent_move_outside 1001
121 agent_move_sofa 1001
121 agent_pick_book1 1001
121 agent_pick_book2 1001
121 agent_pick_book3 1001
122 agent_move_livingroom 2
122 agent_move_outside 1001
122 agent_move_sofa 1001
122 agent_pick_book1 1001
122 agent_pick_book2 1001
122 agent_pick_book3 1001
123 agent_move_livingroom 2
123 agent_move_outside 1001
123 agent_move_sofa 1001
123 agent_pick_book1 1001
123 agent_pick_book2 1001
123 agent_pick_book3 1001
124 agent_move_livingroom 2
124 agent_move_outside 1001
124 agent_move_sofa 1001
124 agent_pick_book1 1001
124 agent_pick_book2 1001
124 agent_pick_book3 1001
125 agent_move_livingroom 2
125 agent_move_outside 1001
125 agent_move_sofa 1001
125 agent_pick_book1 1001
125 agent_pick_book2 1001
125 agent_pick_book3 1001
126 agent_move_livingroom 2
126 agent_move_outside 1001
126 agent_move_sofa 1001
126 agent_pick_book1 1001
126 agent_pick_book2 1001
126 agent_pick_book3 1001
127 agent_move_livingroom 2
127 agent_move_outside 1001
127 agent_move_sofa 1001
127 agent_pick_book1 1001
127 agent_pick_book2 1001
127 agent_pick_book3 1001
128 agent_move_livingroom 3
128 agent_move_outside 1001
128 agent_move_sofa 1001
128 agent_pick_book1 4
128 agent_pick_book2 4
128 agent_pick_book3 4
129 agent_move_livingroom 3
129 agent_move_outside 1001
129 agent_move_sofa 1001
129 agent_pick_book1 4
129 agent_pick_book2 4
129 agent_pick_book3 4
130 agent_move_livingroom 3
130 agent_move_outside 1001
130 agent_move_sofa 1001
130 agent_pick_book1 2
130 agent_pick_book2 2
130 agent_pick_book3 1
132 agent_move_livingroom 3
132 agent_move_outside 1001
132 agent_move_sofa 1001
132 agent_pick_book1 4
132 agent_pick_book2 4
132 agent_pick_book3 4
133 agent_move_livingroom 3
133 agent_move_outside 1001
133 agent_move_sofa 1001
133 agent_pick_book1 4
133 agent_pick_book2 4
133 agent_pick_book3 4
134 agent_move_livingroom 3
134 agent_move_outside 1001
134 agent_move_sofa 1001
134 agent_pick_book1 2
134 agent_pick_book2 2
134 agent_pick_book3 1
136 agent_move_livingroom 3
136 agent_move_outside 1001
136 agent_move_sofa 1001
136 agent_pick_book1 2
136 agent_pick_book2 1
136 agent_pick_book3 2
137 agent_move_livingroom 3
137 agent_move_outside 1001
137 agent_move_sofa 1001
137 agent_pick_book1 2
137 agent_pick_book2 1
137 agent_pick_book3 2
138 agent_move_livingroom 3
138 agent_move_outside 1001
138 agent_move_sofa 1001
138 agent_pick_book1 2
138 agent_pick_book2 1
138 agent_pick_book3 1
144 agent_move_livingroom 3
144 agent_move_outside 1001
144 agent_move_sofa 1001
144 agent_pick_book1 4
144 agent_pick_book2 4
144 agent_pick_book3 4
145 agent_move_livingroom 3
145 agent_move_outside 1001
145 agent_move_sofa 1001
145 agent_pick_book1 4
145 agent_pick_book2 4
145 agent_pick_book3 4
146 agent_move_livingroom 3
146 agent_move_outside 1001
146 agent_move_sofa 1001
146 agent_pick_book1 2
146 agent_pick_book2 2
146 agent_pick_book3 1
148 agent_move_livingroom 3
148 agent_move_outside 1001
148 agent_move_sofa 1001
148 agent_pick_book1 4
148 agent_pick_book2 4
148 agent_pick_book3 4
149 agent_move_livingroom 5
149 agent_move_outside 1001
149 agent_move_sofa 1001
149 agent_pick_book1 6
149 agent_pick_book2 6
149 agent_pick_book3 6
150 agent_move_livingroom 3
150 agent_move_outside 1001
150 agent_move_sofa 1001
150 agent_pick_book1 2
150 agent_pick_book2 2
150 agent_pick_book3 1
152 agent_move_livingroom 3
152 agent_move_outside 1001
152 agent_move_sofa 1001
152 agent_pick_book1 2
152 agent_pick_book2 1
152 agent_pick_book3 2
153 agent_move_livingroom 3
153 agent_move_outside 1001
153 agent_move_sofa 1001
153 agent_pick_book1 2
153 agent_pick_book2 1
153 agent_pick_book3 2
154 agent_move_livingroom 3
154 agent_move_outside 1001
154 agent_move_sofa 1001
154 agent_pick_book1 2
154 agent_pick_book2 1
154 agent_pick_book3 1
160 agent_move_livingroom 3
160 agent_move_outside 1001
160 agent_move_sofa 1001
160 agent_pick_book1 1
160 agent_pick_book2 2
160 agent_pick_book3 2
161 agent_move_livingroom 3
161 agent_move_outside 1001
161 agent_move_sofa 1001
161 agent_pick_book1 1
161 agent_pick_book2 2
161 agent_pick_book3 2
162 agent_move_livingroom 3
162 agent_move_outside 1001
162 agent_move_sofa 1001
162 agent_pick_book1 1
162 agent_pick_book2 2
162 agent_pick_book3 1
164 agent_move_livingroom 3
164 agent_move_outside 1001
164 agent_move_sofa 1001
164 agent_pick_book1 1
164 agent_pick_book2 2
164 agent_pick_book3 2
165 agent_move_livingroom 3
165 agent_move_outside 1001
165 agent_move_sofa 1001
165 agent_pick_book1 1
165 agent_pick_book2 2
165 agent_pick_book3 2
166 agent_move_livingroom 3
166 agent_move_outside 1001
166 agent_move_sofa 1001
166 agent_pick_book1 1
166 agent_pick_book2 2
166 agent_pick_book3 1
168 agent_move_livingroom 3
168 agent_move_outside 1001
168 agent_move_sofa 1001
168 agent_pick_book1 1
168 agent_pick_book2 1
168 agent_pick_book3 2
169 agent_move_livingroom 3
169 agent_move_outside 1001
169 agent_move_sofa 1001
169 agent_pick_book1 1
169 agent_pick_book2 1
169 agent_pick_book3 2
170 agent_move_livingroom 3
170 agent_move_outside 1001
170 agent_move_sofa 1001
170 agent_pick_book1 1
170 agent_pick_book2 1
170 agent_pick_book3 1
